.routeCard_block {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-left: 30px;
  margin-right: 30px;
}

.filterSection {
  display: flex;
}

.h2 {
  font-family: 'Fredoka One';
  color: white;
  padding-top: 3vh;
}