.h2 {
  color: white;
  font-family: 'Fredoka One';
  font-size: 7vh;
  padding-top: 3vh;
}

.h3 {
  color: white;
  font-family: 'Fredoka One';
  font-size: 3.8vh;
  padding-top: 3vh;
}

.p {
  color: white;
  font-family: 'Didact Gothic';
  font-size: 2vh;
  padding-top: 3vh;
}

.errorPage {
  height: 85.5vh;
}