.map_block {
  display: flex;
  margin: 30px;
}

.mapContainer {
  height: "50em";
  width: "150em";
}

@media only screen and (max-width: 800px) {
  .map_block {
    flex-direction: column;
  }

  #map {
    width: 100%;
  }
}

.stats_list {
  list-style-type: none;
}

.input_label {
  text-align: left;
}

.loading_section {
  padding: 50em 150em 50em 150em;
}

.card-body {
  width: 50%;
}

.h2 {
  font-family: "Fredoka One";
  color: white;
  /* box-shadow: 2px 8px 6px rgba(0, 0, 0, 0.2),
    0px -5px 35px rgba(255, 255, 255, 0.3); */
}

.subtitle {
  font-family: "Didact Gothic";
  line-height: 1.5;
  color: white;
}

.form_label {
  font-family: "Fredoka One";
  color: white;
  /* box-shadow: 2px 8px 6px rgba(0, 0, 0, 0.2),
    0px -5px 35px rgba(255, 255, 255, 0.3); */
}

.placeholder {
  font-family: "Didact Gothic";
}

.saveButton {
  color: #fff !important;
  text-transform: uppercase;
  text-decoration: none;
  background: #df5718;
  padding: 20px;
  border-radius: 5px;
  display: inline-block;
  border: none;
  transition: all 0.4s ease 0s;
  font-family: "Fredoka One";
}

.saveButton:hover {
  background: #434343;
  letter-spacing: 1px;
  -webkit-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
  -moz-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
  box-shadow: 5px 40px -10px rgba(0, 0, 0, 0.57);
  transition: all 0.4s ease 0s;
}

.route_stats {
  padding: 2vh;
  background-color: #fc814a;
  color: white;
  font-family: "Didact Gothic";
  line-height: 2;
  box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card {
  background-color: #96939b;
  box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
