.map_block {
  display: flex;
  margin: 30px;
}

.mapContainer {
  height: "50em";
  width: "150em";
}

@media only screen and (max-width: 800px) {
  .map_block {
    flex-direction: column;
  }

  #map {
    width: 100%;
  }
}

.stats_list {
  list-style-type: none;
}

.input_label {
  text-align: left;
}

.loading_section {
  padding: 50em 150em 50em 150em;
}

.card-body {
  width: 50%
}
