.routeCard {
  margin: 20px;
}

.routeImage {
  width: 300px;
  height: 300px;
}

@media only screen and (max-width: 800px) {
  .routeCard_block {
    display: flex;
    flex-direction: column;
  }
}
