.pageContainer {
  background-image: url("https://images.unsplash.com/photo-1507035895480-2b3156c31fc8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80");
  background-size: cover;
  text-align: center;
  position: fixed;
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}

.signUpForm {
  margin: 10vh auto auto auto;
  width: 50vh;
  padding: 10vh;
  border: solid #272c31 5pt;
  background-color: #272c31;
  z-index: 2;
  opacity: 0.8;
  box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.h2 {
  font-family: "Fredoka One";
  color: white;
  font-size: 4.3vh;
}

.inputLabel {
  align-self: center;
  padding: 1vh;
  font-family: "Fredoka One";
  color: white;
}

.inputBox {
  display: flex;
  flex-direction: column;
  padding: 1vh;
}

.signUpButton {
  color: #fff !important;
  text-transform: uppercase;
  text-decoration: none;
  background: #df5718;
  padding: 20px;
  border-radius: 5px;
  display: inline-block;
  border: none;
  transition: all 0.4s ease 0s;
  font-family: "Fredoka One";
}

.signUpButton:hover {
  background: #434343;
  letter-spacing: 1px;
  -webkit-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
  -moz-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
  box-shadow: 5px 40px -10px rgba(0, 0, 0, 0.57);
  transition: all 0.4s ease 0s;
}
