.reviewContainer {
 width: 40vw;
 text-align: center;
 padding: 2vh;
 margin: 2vh;
 flex-wrap: wrap;
 background-color: #272c31;
  box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.body {
  font-family: 'Didact Gothic';
  color: white;
  font-size: 1.5em;
}

.rating {
  font-family: 'Didact Gothic';
  color: white;
  font-size: 1em;
}

.userName {
  font-family: 'Fredoka One';

}