.sortButton {
  margin-left: 20px;
  font-family: "Fredoka One";
  font-size: 18px;
  color: #fff;
  background-color: #fc814a;
  border-color: #fc814a;
}

.dropdownItem {
  font-family: "Didact Gothic";
}
